/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Shizuru&display=swap');

h1 {
    font-family: 'Licorice', cursive;
    font-size: 5rem;
    color: #fff;
}

h2 {
    font-family: 'Shizuru', cursive;
    font-size: 3rem;
}

html {
    scroll-behavior: smooth;
    color: #fff;
}

body {
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 0px;
    z-index: 1;
    width: 100vw;
    background-color: #000;
}

/* HEADER */



.seccio {
    height: 100vh;
}

#A {
    background-color: #000;
}



/* CONTINGUT */

.espaititol {
    display: flex;
    width: 95vw;
    height: 100vh;
    margin: auto;
    align-items:center;
    justify-content:center;
  }