/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Shizuru&display=swap');



html {
    font-family: 'Shizuru', cursive;
    scroll-behavior: smooth;
    color: #fff;
}

body {
    margin: 0px;
    background-color: #000;
}

.ct50 {
    display: flex;
}



/* CONTINGUT */
.ct50 {
    display: flex;
}

.ct50 #A,
.ct50 #B,
.ct50 #C,
.ct50 #D {
    width: 50vw;
    height: 50vh;
}

#A {
    background-color: #000;
}

#B {
    background-color: red;
}

#C {
    background-color: blue;
}

#D {
    background-color: #000;
}

.if{width: 25vw;}
.espaititolA,
.espaititolB {
    display: flex;
    height: 50vh;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;

}


/* FOOTER */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}